.container {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.description-box {
  flex: 1;
}
img {
  width: 500px;
  height: 500px;
}
.title {
  font-size: 52px;
}
.description {
  font-size: 32px;
}
button {
  font-size: 32px;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  background-color: var(--primary-lunar-green-color);
  color: white;
}
