<div class="container">
  <div class="description-box">
    <header>
      <p class="title">{{ plant.common_name }}</p>
      <button>Add to cart</button>
    </header>
    <p class="description bold">A Majestic Addition to Your Plant Collection</p>
    <!-- plant id -->
    <p class="plantID description">{{ plant.id }}</p>
    <p class="prize description">$139.99</p>
    <p class="sub title">Description</p>
    <p class="description">
      Bring the tropics into your home with the stunning Monstera Deliciosa,
      also known as the "Swiss Cheese Plant." With its large, glossy,
      fenestrated leaves, this plant adds a bold, elegant touch to any space.
    </p>
  </div>
  <div class="img-box">
    <img [src]="plant.image_url" alt="plant-image" />
    <div class="small-imgs">
      <img [src]="plant.image_url" alt="plant-image" />
      <img [src]="plant.image_url" alt="plant-image" />
      <img [src]="plant.image_url" alt="plant-image" />
    </div>
  </div>
</div>
