.container {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero {
  .stylish-text {
    font-family: var(--stylish-font-family);
  }

  button {
    margin-top: 20px;
    background-color: var(--primary-lunar-green-color);
    border: none;
    padding: 15px 25px;
    color: white;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    cursor: pointer;
  }
}

button:hover {
  background-color: white;
  color: var(--primary-lunar-green-color);
}

.hero-title {
  font-weight: bold;
  font-size: 80px;
  color: var(--primary-lunar-green-color);
  font-family: var(--primary-font-family);

  span {
    color: var(--primary-avocado-color);
  }
}

.hero-description {
  color: var(--secondary-color);
  font-family: var(--secondary-font-family);
  font-size: 14px;
  line-height: 1.5;
  width: 80%;
}

img {
  margin-right: -130px;
  width: 600px;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  transition: 2s ease;
  -webkit-transition: 2s ease;
  -moz-transition: 2s ease;
  -ms-transition: 2s ease;
  -o-transition: 2s ease;
}

img:hover {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}
