<div class="container">
  <header>
    <div class="title">Steps To Take Care Of Your <span>Plants</span></div>
    <div class="description">
      By following these 3 steps - proper watering, appropriate sunlight and
      providing essential nutrients - you'll be well on your way to maintaining
      healthy and thriving plants
    </div>
  </header>

  <div class="advices">
    <div class="advice">
      <div class="adv-img">
        <img src="images/service_water.png" alt="watering-img" />
      </div>
      <p class="adv-title">Watering</p>
      <p class="description">
        water your plants when the top inch of soil feels dry to the touch.
        Avoid overwatering, as it can lead to root dehydration.
      </p>
    </div>
    <div class="advice">
      <div class="adv-img">
        <img src="images/sun (2).png" alt="sunlight-img" />
      </div>
      <p class="adv-title">Sunlight</p>
      <p class="description">
        Most plants need adequate sunlight to thrive. Place your plants in areas
        that receive the appropriate amount of light for their specific needs
      </p>
    </div>
    <div class="advice">
      <div class="adv-img">
        <img src="images/raw_material (1).png" alt="nutrient-img" />
      </div>
      <p class="adv-title">Nutrients and Fertilizing</p>
      <p class="description">
        Choose a suitable fertilizer based on the specific needs of your plants,
        whether it's a balanced or specialized formula.
      </p>
    </div>
  </div>
</div>
