<div class="container">
  <div class="title">Steps To Take Care Of Your <span>Plants</span></div>
  <div class="description">
    By following these 3 steps - proper watering, appropriate sunlight and
    providing essential nutrients - you'll be well on your way to maintaining
    healthy and thriving plants
  </div>

  <div class="advices">
    <div class="advice">
      <div class="adv-img"><img src="" alt="" /></div>
      <div class="adv-title">Watering</div>
      <div class="adv-desc"></div>
    </div>
    <div class="advice"></div>
    <div class="advice"></div>
  </div>
</div>
