<div class="container">
  <header>
    <div class="title section">
      Steps To Take Care Of Your <span>Plants</span>
    </div>
    <div class="description">
      By following these 3 steps - proper watering, appropriate sunlight and
      providing essential nutrients - you'll be well on your way to maintaining
      healthy and thriving plants
    </div>
  </header>

  <div class="advices">
    <div class="advice">
      <div class="adv-img">
        <img src="images/service_water.png" alt="watering-img" />
      </div>
      <p class="adv-title">Watering</p>
      <p class="description">
        water your plants when the top inch of soil feels dry to the touch.
        Avoid overwatering, as it can lead to root dehydration.
      </p>
    </div>
    <div class="advice">
      <div class="adv-img">
        <img src="images/sun.png" alt="sun-img" />
      </div>
      <p class="adv-title">Sunlight</p>
      <p class="description">
        Most plants need adequate sunlight to thrive. Place your plants in areas
        that receive the appropriate amount of light for their specific needs
      </p>
    </div>
    <div class="advice">
      <div class="adv-img">
        <img src="images\raw_material.png" alt="nutrient-img" />
      </div>
      <p class="adv-title">Nutrients and Fertilizing</p>
      <p class="description">
        Choose a suitable fertilizer based on the specific needs of your plants,
        whether it's a balanced or specialized formula.
      </p>
    </div>
  </div>

  <div class="img-box">
    <img src="images/ce82f5c31700c3d74595cfa98df5ed81.jpg" alt="" />
    <img
      src="images/1590627490494_1479351614156GemmolaHGParkville90791.jpg"
      alt=""
    />
    <div class="img-desc">
      <img src="images/d357511c5384900370494230e576a06e.jpg" alt="" />
      <p class="description">
        Our website offers a wide array of stunning plants, ranging from vibrant
        flowers to lush indoor foliage, allowing you to create your very own
        green oasis. In addition to our extensive plant selection. we also
        provide gardening kits and fertilizers to equip you with everything you
        need to nurture your plants and achieve gardening success. But we don't
        stop there! We believe that knowledge is the key to a thriving garden,
        so we offer a wealth of information and resources on gardening
        techniques, plant care tips, and landscaping ideas. Whether you're a
        seasoned gardener or just starting your green journey, our goal is to
        inspire and support you every step of the way. Get ready to explore our
        virtual garden and discover the joys of gardening with us!
      </p>
    </div>
  </div>
</div>
