<div class="container">
  <div class="hero">
    <div class="stylish-text">Love for Nature</div>
    <div class="hero-title">Discover Your <span>Green</span> Side</div>
    <div class="hero-description">
      We are your one-stop destination for all things green and growing. Our
      website offers a wide array of stunning plants, ranging from vibrant
      flowers to lush indoor foliage, allowing you to create your very own green
      oasis.
    </div>
    <button>Shop Now</button>
  </div>

  <div class="landing-img">
    <!-- <img src="images/71jvnvbfBvL._AC_UF1000,1000_QL80_.jpg" alt="" /> -->
    <img src="images/71YH3HcYEkS._AC_UF1000,1000_QL80_.jpg" alt="" />
  </div>
</div>
