<div class="container" id="most-popular">
  <header>
    <div class="title section">
      Most Popular And <span> Best Selling </span>
    </div>
    <div class="description">
      Shop our Most Popular and Best-Selling favorites, loved by customers
      everywhere. Don’t miss out—find your next favorite today!
    </div>
  </header>
  <div class="plants">
    @if(plants()){ @for(plant of plants(); track $index){
    <div class="plant">
      <button routerLink="product-page" class="img-box">
        <img [src]="plant.image_url" />
      </button>
      <button routerLink="product-page">
        <div class="desc-box">
          <div class="plant-name title">{{ plant.common_name }}</div>
          <div class="plant-family description">{{ plant.family }} family</div>
        </div>
      </button>
    </div>
    } }
  </div>
</div>
