<div class="container">
  <div class="logo-box">
    <p class="logo-text">PlantPeace</p>
  </div>
  <div class="nav-links">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#most-popular">Products</a></li>
      <li><a href="#blog">Blog</a></li>
    </ul>
  </div>

  <div class="burger-icon" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="menu">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
  <img src="images/image.png" alt="logo-image" />
</div>
