<footer>
  <div class="container">
    <div class="content">
      <div>
        <p class="title">Stay Fresh</p>
        <a class="description" href="mailto:example@example.com"
          >example&commat;example.com</a
        >
        <p class="description">+96270000000</p>
      </div>

      <div>
        <ul>
          Quick Links
          <li><a class="description" href="#">Home</a></li>
          <li><a class="description" href="#most-popular">Products</a></li>
        </ul>
      </div>
    </div>
    <hr />
    <div class="copy-right-section">
      <img src="images/image.png" alt="logo-image" />
      <div class="description">Copyrights. All rights reserved</div>
    </div>
  </div>
</footer>
