/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.title {
  font-weight: bold;
  font-family: var(--primary-font-family);
  color: var(--primary-lunar-green-color);
  span {
    color: var(--primary-avocado-color);
  }
}
.section {
  margin-bottom: 10px;
  font-size: 44px;
}
.description {
  line-height: 1.5;
  font-size: 14px;
  color: var(--secondary-color);
  font-family: var(--secondary-font-family);
}
:root {
  --container-background-color: #f0f1ee;
  --header-icon-font-family: "Oswald";
  --primary-font-family: "EB Garamond";
  --secondary-font-family: "Raleway";
  --stylish-font-family: "Pacifico";
  --primary-avocado-color: #8a9b6e;
  --primary-lunar-green-color: #354733;
  --primary-accent-color: #dddea0;
  --dark-color: #1e1e24;
  --secondary-color: #808276;
}
